.body {
    display: flex;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: white;
}

.header {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #1f2937;
    padding-top: 15px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left1 {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.right1 {
    display: flex;
    flex-direction: column;
}

.righttop {
    display: flex;
    justify-content: right;
    margin-bottom: 105px;
}

.leftttop {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.rightbottom {
    display: flex;
    justify-content: right;
}

.leftbottom {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 115px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: first baseline;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-left: 20px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }

.center {
    display: flex;
    margin-top: 100px;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    font-style: bold;
    color: #f9faf8;
}

.image {
    padding: 50px;
    background-color: #e5e7eb;
    height:125px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext1 {
    color: #e5e7eb;
    font-size: 18px;
}

.button1 {
    border-color: #1f2937;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 7px;
    width: 125px;
    border-radius:7px;
    color: white;
    font-weight: 800;
    font-style: bold;
    font-size: 17px;
    border-width: 0px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 140px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
}

.title {
    font-size: 36px;
    font-weight: 800;
    font-style: bold;
    margin-bottom: 50px;
    color: #1f2937;
}

.container {
    display: flex;
}

.boxes {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
}

.empty {
    border-color: #3882f6;
    width: 160px;
    height: 160px;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    color: rgb(73, 73, 73);
    font-size: 19px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 150px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
}

.text3 {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.thor {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author1 {
    display: flex;
    justify-content: right;
    width: 700px;
    margin-top: 5px;
}

.author {
    font-size: 25px;
    font-style: bold;
    font-weight: 800;
    color: #1f2937;
}

.sign {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 110px;
}

.box {
    background-color: #3882f6;
    width: 820px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 10px;
}

.text {
    font-size: 26px;
    font-style: bold;
    font-weight: 800;
    color: white;
}

.text2 {
    font-size: 20px;
    color: white;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 7px;
    width: 130px;
    border-radius:10px;
    color: white;
    font-weight: 800;
    font-style: bold;
    border-color: white;
    font-size: 17px;
    border-width: 3px;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 50px;
    font-size: 20px;
}