.body {
    display: flex;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.header {
    padding-left: 80px;
    padding-right: 80px;
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left1 {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.right1 {
    display: flex;
    flex-direction: column;
}

.lefttop, .righttop {
    display: flex;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: first baseline;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: first baseline;
  }

li {
    margin-left: 10px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }

.center {
    display: flex;
    margin-top: 100px;
}

.hero {
    font-size: 48px;
    font-style: extra-bold;
    color: #f9faf8;
}

.image {
    padding: 50px;
    background-color: #e5e7eb;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext1 {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 123, 255);
    padding: 5px;
    width: 100px;
    border-radius:6px;
    color: white;
    border-color: #1f2937;
    margin-top: 5px;
}